@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  
  --color-camel: #cfc6c6;      /* camel */
  --color-gray-light: #545454; /* light gray */
  --color-owl-gray: #aba698;   /* owl gray */
  --color-brown: #5b4f4f;      /* brown */
  --color-violet: #916588;     /* violet */
  --color-white: #ffffff;      /* pure white */
  --color-black: #101010;       /* black */
  --color-dark-gray: #010101;
  --color-charcoal: #494848;   /* charcoal */
  --color-steel-blue: #6a99bf;
  --color-whatsapp-green: rgb(0, 215, 87);
  --font-poppins: "Poppins", sarif;
}

@layer components {
  .headline {
    @apply font-poppins font-semibold text-5xl/15 text-dark-gray tracking-wider;
  }

  .subheadline {
    @apply font-poppins font-normal text-3xl/10 text-charcoal tracking-wider text-shadow-sm;
  }

  .button {
    @apply font-poppins font-semibold text-white text-lg lg:text-xl
  }
}