
@import url("poppins.css");
@import url("mulish.css");

@import "tailwindcss";

@theme {

  --color-camel: #cfc6c6;
  /* camel */
  --color-gray-light: #545454;
  /* light gray */
  --color-owl-gray: #aba698;
  /* owl gray */
  --color-brown: #5b4f4f;
  /* brown */
  --color-violet: #916588;
  /* violet */
  --color-white: #ffffff;
  /* pure white */
  --color-black: #101010;
  /* black */
  --color-dark-gray: #010101;
  --color-charcoal: #494848;
  /* charcoal */
  --color-steel-blue: #6a99bf;
  --color-whatsapp-green: rgb(0, 215, 87);
  --font-poppins: "Poppins", sans-serif;
  --font-mulish: "Mulish", sans-serif;
}

@layer components {

  #root {
    overflow: hidden;
  }

  /* font-poppins: black bold semibold regular regularItalic */

  /* font-mulish: bold regular regularItalic */

  .headline {
    @apply font-poppins font-semibold text-5xl/15 text-dark-gray tracking-wider;
  }

  section#hero h2.headlineH1 {
    @apply font-poppins font-semibold text-5xl/15 text-dark-gray tracking-wider;
  }

  section h2.headline {
    @apply font-black text-camel text-5xl/15 md:text-6xl/18 tracking-wider break-words hyphens-auto text-shadow-lg;
    -webkit-text-stroke-width: 2px;
    /* Sets the stroke width */
    -webkit-text-stroke-color: var(--color-brown);
    /* Sets the stroke color */
  }

  p {
    @apply font-mulish text-lg text-dark-gray;
  }

  section#estadisticas h5.headline {
    @apply font-black text-camel text-5xl/15 lg:text-6xl/18 tracking-wider break-words hyphens-auto text-shadow-lg;
    -webkit-text-stroke-width: 2px;
    /* Sets the stroke width */
    -webkit-text-stroke-color: var(--color-brown);
    /* Sets the stroke color */
  }

  section#estadisticas p {
    @apply text-xl lg:text-2xl font-poppins text-brown;
  }

  #sobre-mi h4 {
    @apply font-bold font-mulish text-xl text-dark-gray not-italic;
  }

  #sobre-mi h5 {
    @apply font-bold font-mulish text-lg text-dark-gray not-italic;
  }

  #sobre-mi {
    background-color: var(--color-camel);
    @apply text-white;
  }

  #sobre-mi .subheadline {
    @apply md:pr-[70px] lg:pr-[200px];
  }

  section#sobre-mi h2.headline {
    @apply text-white;
  }


  #terapias {
    background-image: url(./assets/texture/paper_texture.png);
  }

  #testimonios {
    background-color: var(--color-brown);
    @apply pt-[200px] md:pt-[100px];
  }

  section#testimonios h2.headline {
    @apply text-white;
    -webkit-text-stroke-color: var(--color-dark-gray);
    /* Sets the stroke color */
  }

  #enfoque h3.headline,
  #enfoque h3.headline span {
    @apply font-bold text-3xl/10 text-white text-shadow-lg;
  }

  /* #enfoque h2.headline {
    @apply ;
  } */

  #enfoque p {
    @apply text-white;
  }

  #testimonios p {
    @apply text-white md:text-xl text-center italic;
  }

  .subheadline {
    @apply font-poppins font-normal text-3xl/10 text-charcoal tracking-wider text-shadow-sm;
  }

  /* #terapias .subheadline,
  #testimonios .subheadline,
  #enfoques .subheadline,
  #sobre-mi .subheadline {
    @apply text-left  text-charcoal not-italic;
  } */

  #testimonios .subheadline {
    @apply text-white md:pr-[100px] lg:pr-[140px];
  }

  #enfoque .subheadline {
    @apply text-brown lg:pr-[140px];
  }

  #terapias H4 {
    @apply text-xl font-bold;
  }

  #terapias .folder H3 {
    @apply font-bold text-3xl/10 tracking-wider;
  }

  #terapias p {
    @apply text-white md:text-xl;
  }

  .button {
    @apply font-poppins font-semibold text-white text-lg lg:text-xl
  }

  @keyframes tab-pop {
    0% {
      transform: translateY(0);
    }

    10% {
      transform: translateY(-4px);
    }

    20% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }

  .tab-pop {
    animation: tab-pop 1.5s ease infinite;
  }
}